.footer {
  margin-bottom: 20px;
}

.footer {
  font-size: 14px;
  color: #000000;
  /* font-weight: bold; */

  /* text-align: center; */
}

@media (max-width: 420px) {
  .footer {
    margin-inline: 10%;
  }
}
